
[Desktop Entry]
Name=B-label
GenericName=Label editor
Comment=Create labels with Brother PT12xxPC and PT23xxPC series label printers
Exec=blabel
Terminal=false
Type=Application
Icon=blabel.png
Categories=Graphics;
