[Desktop Entry]
Name=B-Label
GenericName=Label editor
Comment=Create labels for Brother P-Touch series label printers
Exec=blabel
Terminal=false
Type=Application
Icon=blabel.png
Categories=Office;Graphics;
