Source: blabel
Section: main
Priority: optional
Maintainer: Ari Sovijärvi (APz) <ari.sovijarvi@cleverbit.fi>
Build-Depends: debhelper (>= 10), dh-systemd (>= 1.5)
Standards-Version: 3.9.1
Homepage: https://apz.fi/blabel/

Package: blabel
Architecture: all
Depends: bash, libgtk3-perl, libpango-perl, libgd-perl, libnet-cups-perl, libutf8-all-perl, libgtk-3-0 (>= 3.20.0)
Description: Sticker editor for Brother sticker printers.
 B-Label is a sticker editor tool for Brother PC-series printers.
